<app-navbar-admin></app-navbar-admin>
<div class="contenu">
  <form class="row g-3 needs-validation" novalidate [formGroup]="quizForm" (ngSubmit)="create()">
    <div class="mb-3 row">
      <label for="quiz_genre" class="col-sm-2 col-form-label">Genre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="quiz_genre" formControlName="genre" required>
        <div class="mb-3 text-danger"
             *ngIf="quizForm.get('genre')?.invalid && (quizForm.get('genre')?.dirty || quizForm.get('genre')?.touched) || (submitted && quizForm.invalid)">
          Veuillez fournir un genre.
        </div>
      </div>
    </div>


    <div class="mb-3 row" style="margin-bottom: 20px;">
      <label class="col-sm-1 col-form-label"></label>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="submitForm()" [routerLink]="'/gestion_quiz'">Créer</button>
      </div>
    </div>
  </form>

</div>

