<nav class="navbar navbar-expand-lg" style="background-color: #dbeaff;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MyQuizz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/gestion_quiz" routerLinkActive="active" class="nav-link">Gestion quiz</a>
        <a routerLink="/gestion_user" routerLinkActive="active" class="nav-link ms-5">Gestion utilisateur</a>
      </div>
    </div>
  </div>
</nav>

